<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html {% block html_attributes %}lang="en"{% endblock %}>
<head>
  {% block head %}
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}
    		{% if motesByTag["html_head_title"] is defined %}
			{% for key in motesByTag["html_head_title"] %}
				{{key.getContent()}}
			{% endfor %}
		{% endif %}
    {% endblock %}</title>
    <script>
    {% block script %}
		{% if motesByTag["html_head_script"] is defined %}
			{% for key in motesByTag["html_head_script"] %}
				{{key.getContent()}}
			{% endfor %}
		{% endif %}
    {% endblock %}
    </script>
  {% endblock %}
</head>
<body> 
{% block body %}

    
    {% if motesByTag["html_body_header"] is defined %}
	<div id="header">
		{% for key in motesByTag["html_body_header"] %}
				{{key.getContent()}}
		{% endfor %}
	 </div>
	{% endif %}

  <h1>{{page.name}}</h1>
  you are in "{{page.route}}"
 links:
  <ul>
    <li><a href="{{ path('PageShow', { 'route': 'homepage' }) }}">"HOME PAGE"</a></li>
    <li><a href="{{ path('PageShow', { 'route': 'firstpage' }) }}">"FIRST PAGE"</a></li>
  </ul> 
	{% if motesByTag["html_body"] is defined %}
		{% for key in motesByTag["html_body"] %}
				{{key.getContent()}}
		{% endfor %}
	{% endif %}

   
  {% block footer %}
    <div id="footer">
    {% if motesByTag["html_body_footer"] is defined %}
		{% for key in motesByTag["html_body_footer"] %}
				{{key.getContent()}}
		{% endfor %}
	{% endif %}
    </div>
  {% endblock footer %}
{% endblock body %}
</body>
</html>
